.dark_toggle {
  appearance: none;
  + .dark_toggle_btn {
      box-sizing: border-box;
      outline: 0;
      display: block;
      width: 3em;
      height: 1.5em;
      position: relative;
      cursor: pointer;
      user-select: none;
      border-radius: 1.5em;
      padding: 2px;
      transition: all 0.4s ease;
      font-size: 1em;

      &:hover {
        box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
      }

      &:after {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 100%;
          border-radius: 50%;
          transition: all 0.4s ease;
          color: gray;
          background: white;
      }

      background: gold;
      &:after {
          left: 0;
          content: "light_mode";
      }
  }

  &:checked + .dark_toggle_btn {
      background: #00adb5;
      &:after {
          left: 50%;
          content: "dark_mode";
      }
  }
}